$navigationColor: #5B605F;

$headerColor: #4a4a49;

$buttonsColor: #FF6600;

$backgroundColor: #FFFFFA;

$infoColor: #3498DB;

$warningColor: #FFB03B;

$successColor: #468966;

$binColor: #BD4932;

$tableColor: #A1A194;

$fontWhite: white;

$fontBlack: black;

$aHoverColor: #E58A20;

$headerBackground: #292F32;

$carouselBackground: #ECECEC;

$green: #468966;

$blue: #3599DA;

$orange: #FEAF3B;


