.form {
  background-color: $navigationColor;
  height: 15vh;
  font-family: $textFont;
  .widthContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    .formH3 {
      font-size: 3rem;
      font-weight: 400;
      color: $fontWhite;
    }
    .formSubmitContainer {
      position: relative;
      input[type="text"] {
        font-size: 2.4rem;
        width: 300px;
        position: relative;
        left: -163px;
      }
      button[type="submit"]{
        font-size: 1.4rem;
        background-color: $buttonsColor;
        padding: 10px 50px;
        border: none;
        color: $fontWhite;
        font-weight: 400;
        margin-bottom: 15px;
        position: absolute;
        left: 136px;
        top: 1px;
      }
      button[type="submit"]{
        cursor: pointer;
      }
    }
  }
}