.planYourMealContainer {
  background-image: url(../jpg/image.png);
  .messageAndForm {
    position: relative;
    font-family: $textFont;
    color: $headerColor;
    .messageAndFormBgc {
      position: absolute;
      left: 265px;
      top: 145px;
      background-color: $backgroundColor;
      width: 1150px;
      height: 620px;
      border: 0.5px dashed $headerColor;
      .messageAndFormTitle {
        margin-top: 50px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 700;
        .messageAndFormSpan {
          font-size: 2.6rem;
          font-weight: 700;
        }
      }
      .messageAndFormInputAndBtnContainer {
        text-align: center;
        input[type="text"] {
          margin-top: 20px;
          padding-left: 8px;
          border: 0.1px solid $navigationColor;
          width: 15vw;
          height: 30px;
          font-family: $textFont;
        }
        button[type="submit"] {
          cursor: pointer;
          font-size: 1.2rem;
          font-weight: 700;
          margin-top: 20px;
          border: none;
          background-color: $buttonsColor;
          color: $fontWhite;
          padding: 8px 20px;
        }
      }
      .messageAndFormDescription {
        margin-top: 40px;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
      }
    }
    .dashboard {
      display: none;
      position: absolute;
      left: 265px;
      top: 145px;
      .dashboardHeader {
        display: flex;
        .widgets {
          display: flex;
          color: $green;
          .newRecipe {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 0.5px dashed $green;
            background-color: $backgroundColor;
            width: 200px;
            height: 200px;
            .fa-plus-square {
              font-size: 5rem;
            }
            .newRecipeTxt {
              font-size: 1.6rem;
              margin-top: 20px;
            }
          }
          .newPlan {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
            border: 0.5px dashed $green;
            background-color: $backgroundColor;
            width: 200px;
            height: 200px;
            .fa-plus-square {
              font-size: 5rem;
            }
            .newPlanTxt {
              font-size: 1.6rem;
              margin-top: 20px;
            }
          }
        }
        .dashboardMessages {
          .numbersOfRecipes {
            display: flex;
            color: $blue;
            font-size: 1.4rem;
            height: 60px;
            width: 700px;
            margin-left: 20px;
            border: 0.5px dashed $blue;
            background-color: $backgroundColor;
            .fa-info-circle {
              line-height: 60px;
              font-size: 2.5rem;
              margin: 0 20px 0 5px;
            }
            .recipesTxt {
              line-height: 60px;
            }
            .fa-window-close {
              position: absolute;
              top: 0;
              right: 8px;
              font-size: 1.2rem;
              margin: 5px 0 0 342px;
            }
          }
          .planRemember {
            display: flex;
            color: $orange;
            font-size: 1.4rem;
            height: 60px;
            width: 700px;
            margin-left: 20px;
            margin-top: 10px;
            border: 0.5px dashed $orange;
            background-color: $backgroundColor;
            .fa-exclamation-circle {
              line-height: 60px;
              font-size: 2.5rem;
              margin: 0 20px 0 5px;
            }
            .planTxt {
              line-height: 60px;
            }
            .fa-window-close {
              font-size: 1.2rem;
              margin: 5px 0 0 340px;

            }
          }
          .goodLuck {
            display: flex;
            color: $green;
            font-size: 1.4rem;
            height: 60px;
            width: 700px;
            margin-left: 20px;
            margin-top: 10px;
            border: 0.5px dashed $green;
            background-color: $backgroundColor;
            .fa-check-circle {
              line-height: 60px;
              font-size: 2.5rem;
              margin: 0 20px 0 5px;
            }
            .luckTxt {
              line-height: 60px;
            }
            .fa-window-close {
              font-size: 1.2rem;
              margin: 5px 0 0 45px;
            }
          }
        }
      }
      .weekPlan {
        background-color: $backgroundColor;
        border: 0.5px dashed $headerColor;
        margin-top: 20px;
        height: 400px;
        $colLimit: 7;
        .weekPlanContainer {
          width: 94%;
          max-width: 1300px;
          margin: 0 auto;

          .row {
            margin-bottom: -3px;

            &:before,
            &:after {
              content: "";
              display: table;
              clear: both;
            }

            [class*='col-'] {
              float: left;
              min-height: 1px;
              // gutter
              padding: 5px;
            }

            @for $i from 1 through $colLimit {
              .col-#{$i} {
                width: ($i/$colLimit) *100%;
              }
            }
          }
        }

        .col-7 {
          font-size: 1.4rem;
          margin: 10px 0;
          color: $buttonsColor;
          font-weight: 400;
        }

        .title .col-1 {
          font-size: 1.1rem;
          color: $navigationColor;
          font-weight: 700;
          margin: 8px 0;
        }

        .col-1 {
          font-size: 1rem;
          color: $tableColor;
          text-align: center;
          margin: 4px 0;
        }

        .underline {
          width: 100%;
          max-width: 1300px;
          height: 0.7px;
          background: $navigationColor;
        }

        .title {
          font-weight: 700;
        }

        .header {
          text-align: center;
        }

        .prevNextContainer {
          width: 98%;
          max-width: 1300px;
          margin: 1.2rem auto 0;
          font-size: 1rem;
          color: $buttonsColor;
          display: flex;
          justify-content: space-between;
        }

        .prev {
          cursor: pointer;
          position: absolute;
          bottom: 5px;
          left: 10px;
          font-weight: 400;
          margin-bottom: 5px;

          &::before {
            content: "\f100";
            font-family: "Font Awesome 5 Free";
            font-size: 1.2rem;
            margin-right: 0.5rem;
            font-weight: 700;
          }
        }

        .next {
          cursor: pointer;
          position: absolute;
          bottom: 5px;
          left: 1037px;
          font-weight: 400;
          margin-bottom: 5px;

          &::after {
            content: "\f101";
            font-family: "Font Awesome 5 Free";
            font-size: 1.2rem;
            font-weight: 700;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  .planYourMealHeader {
    font-family: $logoFont;
    background-color: $headerColor;
    height: 15vh;
    line-height: 15vh;
    display: flex;
    justify-content: space-between;
    .planYourMealH1 {
      margin-left: 15px;
      a {
        text-decoration: none;
      }
    }
    #planYourMealFirst {
      font-weight: 100;
      color: $fontWhite;
    }
    #planYourMEalSecond {
      color: $buttonsColor;
      font-weight: 700;
    }
    .planYourMealName {
      display: flex;
      color: $fontWhite;
      font-family: $textFont;
      font-size: 1.8rem;
      font-weight: 300;
      margin-right: 3rem;
      &::after {
        content: "\f2bd";
        font-family: "Font Awesome 5 Free";
        font-size: 2.5rem;
        color: $buttonsColor;
        margin-left: 1.5rem;
      }
    }
  }
  .planYourMealLeftPanel {
    width: 15vw;
    height: 85vh;
    background-color: $navigationColor;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      font-family: 'Open Sans';
      color: $fontWhite;
      font-weight: 300;
      font-size: 1.5rem;
    }
    a:hover {
      font-weight: 400;
    }
    .desktop {
      height: 15%;
      display: flex;
      align-items: center;
      padding-left: 1.5rem;
    }
    .desktop:hover {
      border-left: 6px solid $buttonsColor;
      &::after {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-size: 1.5rem;
        color: $buttonsColor;
        margin-left: 6.3rem;
      }
    }
    .recipes {
      height: 15%;
      display: flex;
      align-items: center;
      padding-left: 1.5rem;
    }
    .recipes:hover {
      border-left: 6px solid $buttonsColor;
      &::after {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-size: 1.5rem;
        color: $buttonsColor;
        margin-left: 4.5rem;
      }
    }
    .plans {
      height: 15%;
      display: flex;
      align-items: center;
      padding-left: 1.5rem;
    }
    .plans:hover {
      border-left: 6px solid $buttonsColor;
      &::after {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-size: 1.5rem;
        color: $buttonsColor;
        margin-left: 6.5rem;
      }
    }
  }
  .recipesContainer {
    display: none;
    position: absolute;
    top: 145px;
    left: 265px;
    background-color: $backgroundColor;
    border: 0.5px dashed $headerColor;
    width: 1150px;
    height: 620px;
    margin: 0 auto;
    font-family: $textFont;
    .recipesHeader {
      display: flex;
      justify-content: space-between;
      width: 96%;
      margin: 20px auto 0;
      .recipesH1 {
        color: $buttonsColor;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 400;
      }
      .recipesBtn {
        padding: 6px 8px;
        font-weight: bold;
        font-size: 1rem;
        color: $fontWhite;
        background-color: $buttonsColor;
        margin-bottom: 5px;
        border: none;
        cursor: pointer;
      }
    }
    .recipesUnderline {
      height: 2px;
      background-color: $tableColor;
      width: 96%;
      margin: 0 auto;
    }
    .recipeName {
      display: flex;
      margin-top: 10px;
      .recipesH2 {
        font-size: 1.6rem;
        font-weight: 400;
        color: $navigationColor;
        margin: 0 2rem;
      }
      #recipeName {
        outline: none;
        height: 30px;
        width: 850px;
        border: 1px solid $tableColor;
      }
    }
    .recipeDescription {
      display: flex;
      margin-top: 10px;
      .recipesH2 {
        font-size: 1.6rem;
        font-weight: 400;
        color: $navigationColor;
        margin: 0 2rem;
      }
      #recipesDescription {
        outline: none;
        width: 850px;
        border: 1px solid $tableColor;
        margin-left: 25px;
      }
    }
    .mainRecipeContainer {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 96%;
      .recipeInstruction {
        margin-top: 20px;
        width: 50%;
        .recipeH3 {
          font-size: 1.6rem;
          color: $navigationColor;
          text-transform: uppercase;
          font-weight: 400;
        }
        .recipesUnderline {
          margin: 0;
        }
        .recipesInstructionContainer {
          margin-top: 10px;
          display: flex;
          justify-content: flex-start;
          #instruction {
            width: 85%;
            border: 1px solid $tableColor;
          }
          .recipesAdd {
            display: flex;
            color: green;
            margin: -2px 0 0 6px;
            font-size: 2rem;
          }
        }
        .recipesNavInstruction {
          margin: 50px 0 0 18px;
          width: 485px;
          height: 180px;
          overflow: scroll;
          .olInstruction {
            margin-left: 18px;
          }
        }
      }
      .recipeProduct {
        margin-top: 20px;
        width: 50%;
        .recipeH3 {
          font-size: 1.6rem;
          color: $navigationColor;
          text-transform: uppercase;
          font-weight: 400;
          margin-left: 23px;
        }
        .recipesUnderline {
          margin-left: 23px;
        }
        .recipesProductContainer {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          #product {
            width: 88%;
            height: 90px;
            margin-left: 12px;
            border: 1px solid $tableColor;
          }
          .recipesAdd {
            display: flex;
            color: green;
            margin: -2px 0 0 6px;
            font-size: 2rem;
          }
        }
        .recipesNavProduct {
          margin: 50px 0 0 25px;
          width: 505px;
          height: 180px;
          overflow: scroll;
          .ulProduct {
            margin-left: 20px;
          }
        }
      }
    }
  }
  .listOfRecipesContainer {
    display: none;
    background-color: $backgroundColor;
    border: 0.5px dashed $headerColor;
    position: absolute;
    top: 145px;
    left: 265px;
    width: 1150px;
    height: 620px;
    $colLimit: 12;
    .listOfRecipes {
      width: 94%;
      margin: 0 auto;
      .header {
        .col-11 {
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
          font-family: $textFont;
          color: $buttonsColor;
          margin-left: -8px;
        }
        .col-1 {
          color: $green;
          font-size: 2rem;
          display: flex;
          justify-content: flex-end;
          margin: 10px 0 0 8px;
        }
      }
      .row {
        margin-bottom: -3px;
        &:before,
        &:after {
          content: "";
          display: table;
          clear: both;
        }

        [class*='col-'] {
          float: left;
          min-height: 1px;
          // gutter
          padding: 5px 0 5px 5px;
        }

        @for $i from 1 through $colLimit {
          .col-#{$i} {
            width: ($i/$colLimit) *100%;
          }
        }
      }
    }

    .underlineFirst {
      width: 100%;
      max-width: 1300px;
      height: 2px;
      background: $tableColor;
      margin-top: -2px;
    }

    .underlineSecond {
      margin: 15px auto 0;
      height: .5px;
      background: $tableColor;
      width: 98%;
    }

    .title {
      font-weight: 700;
      font-size: 1.4rem;
      font-family: $textFont;
      text-transform: uppercase;
      color: $headerColor;
      width: 98%;
      margin: 10px auto 0;
    }
    .underlineRow {
      margin: 10px auto 0;
      height: .5px;
      background: $tableColor;
      width: 98%;
    }
    .mainListOfRecipesContainer {
      overflow: scroll;
      height: 485px;
      .divListOfRecipesContainer {
        padding-top: 10px;
        font-family: $textFont;
        color: $tableColor;
        display: flex;
        .spanID {
          width: 95px;
          height: 100px;
          margin-left: 16px;
        }
        .spanRecipeName {
          width: 275px;
          margin-left: 6px;
        }
        .spanRecipeDescription {
          width: 640px;
          margin-left: 25px;
        }
        .spanButtonsAction {
          width: 90px;
          margin-left: 55px;
          .fa-trash-alt, .fa-edit {
            font-size: 1.4rem;
          }
        }
      }
      .divUnderline {
        margin: 10px auto 0;
        height: .5px;
        background: $tableColor;
        width: 100%;
      }
    }
  }
  .addPlan {
    display: none;
    background-color: $backgroundColor;
    border: 0.5px dashed $headerColor;
    position: absolute;
    top: 145px;
    left: 265px;
    width: 1150px;
    height: 620px;
    font-family: $textFont;
    $colLimit: 6;
    .planHeader {
      display: flex;
      justify-content: space-between;
      width: 96%;
      margin: 20px auto 0;
      .planH1 {
        color: $buttonsColor;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 400;
      }
      .planBtn {
        padding: 6px 12px;
        font-weight: bold;
        font-size: 1rem;
        color: $fontWhite;
        background-color: $buttonsColor;
        margin-bottom: 5px;
        border: none;
        cursor: pointer;
      }
    }
    .planUnderlineFirst {
      height: 2px;
      background-color: $tableColor;
      width: 96%;
      margin: 0 auto;
    }
    .planName {
      color: $navigationColor;
      font-size: 1rem;
      display: flex;
      align-items: center;
      width: 90%;
      margin: 10px 0 0 40px;
      .planH2 {
        font-weight: 300;
      }
      #planName {
        width: 840px;
        height: 30px;
        font-size: 20px;
        margin-left: 50px;
      }
    }
    .planDescription {
      color: $navigationColor;
      font-size: 1rem;
      display: flex;
      width: 90%;
      margin: 10px 0 0 40px;
      .planH2 {
        font-weight: 300;
      }
      #planDescription {
        width: 840px;
        font-size: 20px;
        margin-left: 72px;
      }
    }
    .newPlanWeekNumber {
      color: $navigationColor;
      font-size: 1rem;
      display: flex;
      align-items: center;
      width: 90%;
      margin: 10px 0 0 40px;
      .newPlanWeekNumberH2 {
        font-weight: 300;
      }
      #newWeekNumber {
        font-size: 20px;
        height: 30px;
        width: 50px;
        margin-left: 13px;
      }
    }
    .planUnderlineSecondContainer {
      display: flex;
      justify-content: flex-end;
      margin-right: 90px;
      .planUnderlineSecond {
        height: .5px;
        width: 80%;
        background-color: $tableColor;
        margin-top: 15px;
      }
    }
    .newPlanContainer {
      .row {
        margin-bottom: -3px;
        &:before,
        &:after {
          content: "";
          display: table;
          clear: both;
        }

        [class*='col-'] {
          float: left;
          min-height: 1px;
          // gutter
          padding: 4px 0 4px 5px;
        }

        @for $i from 1 through $colLimit {
          .col-#{$i} {
            width: ($i/$colLimit) *100%;
          }
        }
      }
      .title {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 700;
        color: $navigationColor;
        text-transform: uppercase;
        height: 65px;
        margin-right: 90px;
        .col-1 {
          text-align: center;
        }
      }
      .underline {
        height: .5px;
        width: 90%;
        background-color: $tableColor;
        margin: 5px 40px 0;
      }
      .row {
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 90px;
        .monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday {
          font-size: 0.8rem;
          font-weight: 700;
          color: $navigationColor;
          text-transform: uppercase;
          height: 32px;
        }
      }
    }
  }

  .listOfPlansContainer {
    display: none;
    background-color: $backgroundColor;
    border: 0.5px dashed $headerColor;
    position: absolute;
    top: 145px;
    left: 265px;
    width: 1150px;
    height: 620px;
    $colLimit: 12;
    .listOfPlans {
      width: 94%;
      margin: 0 auto;
      .header {
        .col-11 {
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
          font-family: $textFont;
          color: $buttonsColor;
          margin-left: -8px;
        }
        .col-1 {
          color: $green;
          font-size: 2rem;
          display: flex;
          justify-content: flex-end;
          margin: 10px 0 0 8px;
        }
      }
      .row {
        margin-bottom: -3px;
        &:before,
        &:after {
          content: "";
          display: table;
          clear: both;
        }

        [class*='col-'] {
          float: left;
          min-height: 1px;
          // gutter
          padding: 5px 0 5px 5px;
        }

        @for $i from 1 through $colLimit {
          .col-#{$i} {
            width: ($i/$colLimit) *100%;
          }
        }
      }
    }

    .underlineFirst {
      width: 100%;
      max-width: 1300px;
      height: 2px;
      background: $tableColor;
      margin-top: -2px;
    }

    .underlineSecond {
      margin: 15px auto 0;
      height: .5px;
      background: $tableColor;
      width: 98%;
    }

    .title {
      font-weight: 700;
      font-size: 1.4rem;
      font-family: $textFont;
      text-transform: uppercase;
      color: $headerColor;
      width: 98%;
      margin: 10px auto 0;
    }
    .underlineRow {
      margin: 10px auto 0;
      height: .5px;
      background: $tableColor;
      width: 98%;
    }
    .mainListOfPlansContainer {
      overflow: scroll;
      height: 485px;
      .divListOfPlansContainer {
        padding-top: 10px;
        font-family: $textFont;
        color: $tableColor;
        display: flex;
        .spanID {
          width: 95px;
          height: 100px;
          margin-left: 16px;
        }
        .spanPlanName {
          width: 200px;
          margin-left: 8px;
        }
        .spanPlanDescription {
          width: 640px;
        }
        .spanPlanWeekNumber {
          width: 120px;
          margin-left: -40px;
        }
        .spanButtonsAction {
          width: 90px;
          margin-left: 80px;
          .fa-trash-alt, .fa-edit {
            font-size: 1.4rem;
          }
        }
      }
      .divUnderline {
        margin: 10px auto 0;
        height: .5px;
        background: $tableColor;
        width: 100%;
      }
    }
  }

  .fa-trash-alt {
    color: brown;
    font-size: 15px;
    margin-left: 5px;
  }

  .fa-edit {
    color: orange;
    font-size: 15px;
    margin-left: 5px;
  }
}





